
<div class="body">
<app-dashboard></app-dashboard>
<router-outlet></router-outlet>
<div class="container justify-content-center" >
    <button class="btn btn-outline-success mt-5 mb-5 bg-primary" data-bs-toggle="modal" data-bs-target="#addUser" type="submit">Add
      User</button>

    <table class="table table-hover">
      <thead>
        <tr>
  
          <th scope="col">Account Number</th>
          <th scope="col">Name</th>
          <th scope="col">Phone</th>
          <th scope="col">Email</th>
          <th scope="col">Balance</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let User of userList">
  
          <td>{{User.accountno}}</td>
          <td>{{User.name}}</td>
          <td>+91 {{User.phoneno}}</td>
          <td>{{User.email}}</td>
          <td>{{User.balance}}</td>
          <td>
            <button type="button" class="btn nav-btn btn-outline-primary bg-primary me-2" data-bs-toggle="modal" data-bs-target="#editUser"
              (click)="editUser(User)">Edit</button>
            <button type="button" class="btn nav-btn btn-outline-danger bg-danger" (click)="deleteUser(User)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div> 


  
<div class="modal fade" id="addUser" tabindex="-1">
  <div class="modal-dialog ">
    <div class="modal-content mm ">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new User</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form  [formGroup]="userDetail" >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name </label>
            <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone </label>
            <input type="text" formControlName="phone" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address </label>
            <input type="text" formControlName="address" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn bg-success" data-bs-dismiss="modal" (click)="addUser()">Add
              User</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


 
<div class="modal fade" id="editUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"  >
  <div class="modal-dialog">
    <div class="modal-content mm">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="editDetail" >
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Name </label>
            <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email </label>
            <input type="email" formControlName="email" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Phone </label>
            <input type="text" formControlName="phone" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address </label>
            <input type="text" formControlName="address" class="form-control" id="email" aria-describedby="emailHelp">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn bg-success btn-outline-success" (click)="updateUser()" data-bs-dismiss="modal">Update
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</div>

