.navbtn{
    display: flex;
    margin-left: 10px;
}


.col-sm-3 {
    flex: 0 0 auto;
    width: 40%;
}

.navbar>.container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    width: 30px;
}